/* Gallery */

grid{
  display: flex;
}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 33%;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
    

}

div.desc {
    padding: 15px;
    text-align: center;
  }

  canvas {
    margin:3px;
    text-align: justify;
    font-size: 16px;
    position: relative;
  }

  /* Flashing */

  .gallery img:hover  {
  	opacity: 1;
  	-webkit-animation: flash 1.5s;
  	animation: flash 1.5s;
  }
  @-webkit-keyframes flash {
  	0% {
  		opacity: .4;
  	}
  	100% {
  		opacity: 1;
  	}
  }
  @keyframes flash {
  	0% {
  		opacity: .4;
  	}
  	100% {
  		opacity: 1;
  	}
  }
