
/* Navigation bar */


#nav  ul {
    list-style-type: none;
    margin:0;
    padding: 0 0 0 10px;
    overflow: hidden;
    background-color: #222222;

}

#nav li {
    float: left;
}

#nav li a {
    display: block;
    color: white;
    text-align: center;
    padding:  15px;
    text-decoration: none;
}

#nav li a:hover {
    background-color: #333333;
    color: #d7f442;
}

/* Arrow image */

.btn-image {
  height: 60px;

}






/* Text customization */

body {
  font-size: 18px;
  font-style: normal;

  font-family: 'Lato', sans-serif;
  background-image: url('images/back13.jpg');
}


 h1 {font-size: 2.5em;
margin:10px;
text-align: center;
text-shadow: grey 2px 2px 2px;
 }

 h2 {font-size: 1.5em;
 margin:10px}

 h3 {
 font-size: 1.2em;
 margin:1px;
 text-align: center;
}

 h6 {font-size: 1.1em;}

 p {font-size: 1.1em;}


div {
  padding: 1px;
  margin-left: 20px;
}

 span {

     padding: 1px;
     margin-left: 20px;
     margin-top: 2px;
     margin-bottom: 2px;
     margin-right: 20px;

   }




/* footer */

.footer  {
     position: static;
     bottom: 0;
     left: 0;
     text-align: center;
     background-color: #222222;
     color: white;
     width: 100%;
     height: 60px;
     display: inline-flex;
     margin-top: 30px;
   }

   .footer i {
    margin: 10px;
    text-align: center;
    color: white;
    font-size:30px;

   }

   .footer div {
    margin-left: 45%;
    margin-right: 0;
    width: 40%;
    margin-top: 6px;
    margin-bottom: 6px;
   }

   .footer i:hover {
     color: #d7f442;
     text-shadow:  4px 6px 2px 0 white;
   }

   .footer p{
     text-align: left;
     font-size: 15px;
     font-family: 'Lato', sans-serif;
     padding-left: 20px;
     padding-bottom: 15px;
   }
